@import "../_mixin";

/* tab */
.tab {
    @include d-flex;
    width:100%;
    li {
        @include d-flex;
        height: 7rem;
        flex: 1;

        font : {
            size: 2.2rem;
            weight: 500;
        }

        color:#555555;
        background: #eef1f6;

        &.current {
            position: relative;
            color: #000000;
            box-shadow: .03rem .03rem 1.8rem rgba(0, 0, 0, 0.18);
            border: solid 1px #005aab;
            background-color: #fff;
            z-index: 1;

            font : {
                size: 2rem;
                weight: 500;
            }
        }

        a {
            @include d-flex;
        }
    }
}




.tabcontent {
    display: none;
    margin-top: 7rem;
    &.current {
        display: block;
    }
}


.tab-content {
    height: auto;
}

.history {
    &__inner {
        .swiper {
            &-container{
                padding: 0 5rem;
                &::before{
                    position: absolute;
                    top: 1rem;
                    left: 0;
                    width:100%;
                    height: 1px;
                    background: url(../../image/sub/bg-dash.png);
                    content:""
                }
            }
            &-wrapper{
                //padding: 0 5rem;
                //padding-left: 5rem;
                //width:calc(100% - 10rem);
                padding-right: 10rem
            }
            &-slide {
                @include d-flex;
                width: auto;
            }
            &-scrollbar{
                left: 0;
                bottom: 0;
                width:100%;
                height: 1rem;
                background: #eeeeee;
                &-drag{
                    background: #747478;
                }
            }
        }
    }
    &-item {
        position: relative;
        padding-top: 4rem;
        padding-bottom: 7rem;
        &::before{
            position: absolute;
            top:0;
            width: 2.1rem;
            height: 2.1rem;
            background: #ffffff;
            box-shadow: .3rem .3rem 1.8rem rgba(0, 0, 0, 0.18);
            border:.5rem solid #005aab;
            border-radius: 100%;
            box-sizing: border-box;
            content:""
        }
        .year {
            
            margin-bottom: 2.5rem;
            font: {
                size: 2.4rem;
                weight: 600;
            }
            color:#005aab;
            
        }

        &__cont {
            li {
                @include display-flex;
                @include flex-column;

                font : {
                    size: 1.8rem;
                    weight: 500;
                }

                color:#555555;
                line-height: 2.8rem;

                span {
                    font : {
                        size: 1.8rem;
                        weight: 600;
                    }

                    color:#000000;
                    line-height: 2.8rem;
                }

                &+li {
                    margin-top: 1.5rem;
                }
            }
        }
    }
}


.content {
    //padding-bottom:7.8rem;
    /* 센터소개 */
    .introTitle {
        font-weight:600;
        font-size: 3.6rem;
        text-align: center;
        span {
            font-weight:600;
            color:#005aab;
        }
    }
    .grayBox {
        padding:5rem 10rem;
        margin-top:5.3rem;
        background-color: #f3f4f6;
        img {
            display:inline-block;
        }
        .info {
            position:relative;
            display:inline-block;
            width: calc(100% - 815px);
            margin-left:11rem;
            vertical-align: top;
            &::before {
                position:absolute;
                top:-5rem;
                left:-5rem;
                width:1px;
                height:52.8rem;
                background-color:#fff;
                content:'';
            }
            p {
                font-size:1.8rem;
                font-weight:500;
                word-break: keep-all;
                line-height:3rem;
                letter-spacing: -0.5px;
                &+p {
                    padding-top:4.8rem;
                }
            }
        }
    }
    /* 설립목적 */
    .est {
        position:relative;
        //margin-bottom:7rem;
        .top {
            @include display-flex;
            flex-direction: row-reverse;
            //position:relative;
            height: 65.7rem;
            padding:5rem;
            width:100%;
            background: url(../../image/sub/est_1.jpg) no-repeat;
            // height: 0;
            // padding-bottom:55.7%;
            background-size: cover;
            background-position: top center;
            box-sizing: border-box;
            img {
                display: inline-block;
                padding: 2.5rem 0 2.5rem 10rem;
            }
            .right {
                display: inline-block;
                //float: right;
                width: calc(100% - 65.8rem);
                vertical-align: top;
                div {
                    padding-bottom:2.5rem;
                    font-size:3rem;
                    font-weight:600;
                }
                p {
                    font-size:1.8rem;
                    word-break: keep-all;
                    line-height:2.8rem;
                    font-weight:500;
                    letter-spacing: -0.5px;
                    +p {
                        margin-top:4rem;
                        margin-bottom:5rem;
                    }
                }
            }
        }
        .bottom {
            margin-top: -14.4rem;
            //transform: translateY(-14.4rem);
            // left:5.2rem;
            // bottom:-5rem;
            // width:135rem;
            // transform: translateY(-33%);
            margin-left:5rem;
            background-color: #fff;
            ul {
                display: flex;
                justify-content: space-around;
                box-sizing:border-box;
                li {
                    padding:4rem 3rem;
                    width:16.66%;
                    box-sizing:border-box;
                    background-size: 3.8rem 3.4rem !important;
                    &+li {
                        &+li {
                            position:relative;
                            &::before {
                                position:absolute;
                                left:0;
                                width:1px;
                                height:16.4rem;
                                background-color:#eee;
                                content:'';
                            }
                        }
                    }
                    &:nth-child(1) {
                        background: #005aab url(../../image/sub/estIcon1.png) no-repeat 90% 90%;
                        // height: 22.5rem;
                        div {
                            margin-bottom: 1.5rem;
                            font-size:2rem;
                            color:#fff;
                            font-weight:500;
                        }
                        p {
                            font-size:1.8rem;
                            color:#fff;
                            line-height:3rem;
                        }
                    }
                    &:nth-child(2) {background:  url(../../image/sub/estIcon2.png) no-repeat 90% 90%;}
                    &:nth-child(3) {background:  url(../../image/sub/estIcon3.png) no-repeat 90% 90%;}
                    &:nth-child(4) {background:  url(../../image/sub/estIcon4.png) no-repeat 90% 90%;}
                    &:nth-child(5) {background:  url(../../image/sub/estIcon5.png) no-repeat 90% 90%;}
                    &:nth-child(6) {background:  url(../../image/sub/estIcon6.png) no-repeat 90% 90%;}
                    div {
                        margin-bottom: 1.5rem;
                        font-size:2rem;
                        color:#000;
                        font-weight:600;
                    }
                    p {
                        font-size:1.8rem;
                        color:#000;
                        line-height:3rem;
                        font-weight:400;
                    }
                    span {
                        display:block;
                        margin-top:1rem;
                        font-size:1.6rem;
                        color: #555;
                        line-height:2.2rem;
                    }
                }
            }
        }
    }
}

/* 조직도 */
.groupTit {
    display:block;
    font-size:3rem;
    font-weight:600;
}
.groupTable {
    margin-top:3rem;
    border-top:1px solid #005aab;
    table {
    
        thead {
            th {
                background-color:#f2f7fb;
                border:0 !important;
                &+th {
                    border-left:1px solid #ddd !important;
                    border-bottom:1px solid #ddd !important;
                }
            }
        }
        tbody {
            td {
                text-align:left;
                color:#000 !important;
                border:0 !important;
                &+td {
                    border-left:1px solid #ddd !important;
                    border-bottom:1px solid #ddd !important;
                }
            }
        }
    }
}

.groupWrap {
    display:none;
    &.on {
        display:block;
    }
}


/* 운영법인 */ 
.youthCouncil{
    &-top{
        position: relative;
        margin-bottom: 5rem;
        &.sh{
            .title{
                color:#000000;
            }
            .img-wrap{
                width: 47.5rem;
                flex:none;
                img{
                    width: 23.8rem;
                    height: 23.8rem;
                    border-radius: 100%;
                    border: 1px solid #dddddd;
                    box-shadow: 1rem 1rem 1.8rem rgba(0,0,0,0.1);
                }
            }   
        }
        &::before{
            position: absolute;
            top: 6.5rem;
            width:100%;
            height:calc(100% - 1.5rem);
            background: #f5f8f9;
            content: "";
            z-index: -1;
        }
        .img-wrap{
            width: 47.5rem;
            flex:none;
            img{
                display: block;
                margin: 0 auto;
                border-radius: 3rem;
                box-shadow: 1rem 1rem 1.8rem rgba(0,0,0,0.1);
            }
            
        }
        .title{
            margin-bottom: 3rem;
            font : {
                size:3rem;
                weight:600;
            }
            color:#005aab;
        }
        p{
            font : {
                weight:500;
            }
            line-height: 3rem;
            letter-spacing: -.1rem;
        }
        .button-wrap{
            justify-content: flex-start;
            button{
                width:100%;
                max-width: 45rem;
                height: 6rem;
                line-height: normal;
                font-size:2rem;
                border-radius: .5rem;
                box-shadow: .3rem .3rem 1rem rgba(0,0,0,0.28);
            }
        }
    }
    &-des{
        flex:1;
        padding-top: 5rem;
        padding-right: 11.5rem;
        .button-blue{
           min-width: 45rem;
        }
        &__box{
            flex-wrap: wrap;
        }
    }
    &-bottom{
        >ul{
            >li{
                @include display-flex;
                padding: 5rem 0;
                &+li{
                    border-top:1px dashed #dddddd;
                }
                &:nth-last-child(1){
                    padding-bottom: 0;
                }
            }
        }
        .list{
            &-dashed{
                li{
                    position: relative;
                    padding-left: 1rem;
                    font : {
                        size: 1.8rem;
                        weight: 500;
                    }
                    line-height: 3.2rem;
                    &::before{
                        position:absolute;
                        top:1.5rem;
                        left: 0;
                        width:.4rem;
                        height:1px;
                        background: #000000;
                        content:""
                    }
                }

            }
        }
        .title{
            position: relative;
            width: 21.5rem;
            margin-left: 10.7rem;
            //padding-top: .5rem;
            padding-left: 6rem;
            padding-right: 9.5rem;
            line-height: 3.6rem;
            letter-spacing: -.075rem;
            font : {
                size:2.4rem;
                weight:600;
            }
            flex:none;
            &::before{
                position:absolute;
                top: 1.6rem;
                left: 0;
                width:4rem;
                height: 1px;
                background: #000000;
                content:""
            }
        }
        .cont{
            flex:1;
            p{
                @include d-flex;
                min-height: 8rem;
                height: auto;
                text-align: center;
                border-radius: .3rem;
                font : {
                    size: 1.8rem;
                    weight:500;
                }
                line-height: 3rem;
                border:1px solid #005bac;
                box-sizing: border-box;
                &+p{
                    margin-top: 1rem;
                }
            }
            div{
                
                font : {
                    size: 1.8rem;
                    weight:500;
                }
                line-height: 3rem;
            }
            &.w-50{
                @include display-flex;
                flex-wrap: wrap;
                margin: -.5rem;
                p{
                    flex:none;
                    width:calc(50% - 1rem);
                    margin: .5rem;
                }
            }
        }
        .progress{
            height: auto;
            &__inner{
                @include display-flex;
                flex-wrap: wrap;
                >div{
                    width:100%;
                    &:nth-child(1){
                        .step-box{
                            padding-bottom: 5rem;
                        }
                    }
                    &:nth-child(2){
                        flex-direction: row-reverse;
                        
                        .step{
                            &-box{
                                flex-flow: row-reverse;
                                background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' width='15' height='17'%3E%3Cpath fill-rule='evenodd' fill='rgb(222, 222, 222)' d='M-.001 8.386 15 .002l-.137 16.997L-.001 8.386Z'/%3E%3C/svg%3E");
                                &:nth-child(1){
                                    background-image: none;
                                    .step-num{
                                        &::before{
                                            height: 65%;
                                        }
                                    }
                                }
                                &:nth-child(2){
                                    .step-num{
                                        &::before{
                                            height: 85%;
                                        }
                                    }
                                }
                                &:nth-child(3){
                                    .step-num{
                                        &::before{
                                            height: 100%;
                                        }
                                    }
                                }
                                &:nth-child(4){
                                    background-position: right top 3.8rem;
                                    .step-num{
                                        color:#ffffff;
                                        background: #005aab;
                                        span{
                                            color:#ffffff;
                                        }
                                        &__inner{
                                            background: #005aab;
                                            font-weight: 400;
                                        }
                                    }
                                }
                            }
                            
                        }
                    }
                }
            }
        }
        .step{
            &-box{ 
                width: calc(100% / 4);
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='15' height='17'%3E%3Cpath fill-rule='evenodd' fill='rgb(222, 222, 222)' d='M15.001 8.614 0 16.998.137.001l14.864 8.613Z'/%3E%3C/svg%3E");
                background-repeat: no-repeat;
                background-position: right top 3.8rem;
                // // 1부터 4번 반복
                // @for $i from 1 through 4 {
                //     &:nth-child(#{$i}) {
                //         padding-bottom: 5rem;
                //     }
                // }
                &:nth-child(2){
                    .step-num{
                        &::before{
                            height: calc(100% / 5);
                        }
                    }
                }
                &:nth-child(3){
                    .step-num{
                        &::before{
                            height: calc(100% / 4);
                        }
                    }
                }
                &:nth-child(4){
                    background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' width='17' height='15'%3E%3Cpath fill-rule='evenodd' fill='rgb(222, 222, 222)' d='M8.386 15.001.002 0l16.997.137-8.613 14.864Z'/%3E%3C/svg%3E");
                    background-position: bottom 3rem center;
                    .step-num{
                        &::before{
                            height: 50%;
                        }
                    }
                }
               
            }
            &-num{
                @include d-flex;
                position: relative;
                width: 9rem;
                height: 9rem;
                margin: 0 auto;
                margin-bottom: 1rem;
                border-radius: 100%;
                background: #dfeaf2;
                overflow: hidden;
                &::before{
                    position: absolute;
                    bottom: 0;
                    width: 100%;
                    height: calc(100% / 8);
                    background: #005aab;
                    content:"";
                    z-index: 0;
                }
                &__inner{
                    @include d-flex;
                    @include flex-column;
                    position: relative;
                    width:7.5rem;
                    height:7.5rem;
                    background: #ffffff;
                    border-radius: 100%;
                    font : {
                        size: 2.4rem;
                        weight: 500;
                    }
                    line-height: 100%;
                    span{
                        display: inline-block;
                        margin-bottom: .5rem;
                        font-size:1.6rem;
                        color:#747478;
                    }
                    z-index: 1;
                }
            }
            &-des{
                text-align: center;
                font : {
                    size: 1.8rem;
                    weight:500;
                }
                line-height: 2.4rem;
                a{
                    position: relative;
                    font : {
                        size:1.6rem;
                        weight:500;
                    }
                    color:#005aab;
                    &::before{
                        position: absolute;
                        bottom: -.5rem;
                        width:100%;
                        height:1px;
                        background : #005aab;
                        content:""
                    }
                }
            }
        }
    }
}


/*220609 pub */

.grayBox_sh {
    background-color: #ffff0000;
    padding: 0 0 0 0;

    img {
        &:nth-child(1) {
            margin-right: 1rem;
        }
    }

    .grayBox_img {
        @include display-flex;
        justify-content: center;
        width: 100%;
    }

    .info {
        position: relative;
        width: 100%;
        margin-left: 0;
        display: block;
        text-align: center;

        &::before {
            position: absolute;
            left: 0;
            content: "";
            z-index: -1;
            background-color: #f5f8f9;
        }

        p {
            font-size: 2.2rem;
            line-height: 3.6rem;
            font-weight: 400;
        }
    }

    &2 {

        background-color: #fff000;
        padding: 0 0 0 0;

    }

    .grayBox_ul {
        img {
            margin: 0;
        }

        margin: 0 auto;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        li {
            box-sizing: border-box;
            text-align: center;

            &:nth-child(n+2) {
                margin-top: 1rem;
            }

            &.list {
                &1 {
                    width: 100%;
                }

                &3 {
                    margin-left: 1rem;
                    margin-right: 1rem;
                }

                &2,
                &4 {
                    @include display-flex;
                    flex-direction: column;
                    justify-content: space-between;
                }
            }
        }
    }
}

.content {
    &_ci {
        .grayBox_sh {
            .info {
                p {
                    padding-top: 8rem;
                    padding-bottom: 8rem;
                }

                &::before {
                    top: -11.4rem;

                    width: 100%;
                    height: calc(100% + 11.4rem);

                    content: "";
                    z-index: -1;
                }
            }
        }
    }

    &_ch {
        .grayBox_sh {
            .info {
                padding: 0;
                @include display-flex;

                &::before {
                    top: -38.5rem;
                    width: 100%;
                    height: calc(100% + 38.5rem);
                    background-color: #f5f8f9;
                }

                p {
                    padding: 5rem 0;
                    margin:0 auto;
                }


            }
        }

        p {
            span {
                font-weight: 500;
                &.color {
                    &-blue2 {
                        color: #1e80c1;
                    }

                    &-orange {
                        color: #d75207;
                    }

                    &-green {
                        color: #1ec144;
                    }
                }


            }

            .bold {
                font-weight: 500;
            }


        }
    }

    &_map {
        .grayBox_sh {
            .info {
                @include display-flex;
                justify-content: flex-start;
                text-align: center;

                &::before {
                    background-color: #fff;
                }

                p {
                    @include display-flex;
                    @include flex-wrap;
                }

                img {
                    padding: 3% 0;
                }

                span {
                    display: block;
                }

                .bus {

                    &1,
                    &2 {
                        @include display-flex;

                        >p {
                            padding-left: 1rem;
                        }
                    }

                    &1 {
                        margin-left: 12.4rem;
                    }

                    &2 {
                        margin-left: 3.6rem;
                    }

                    &_default,
                    &_stand {
                        line-height: 3.4rem;
                        text-align: center;
                        width: 8.4rem;
                        height: 3.4rem;
                        letter-spacing: -0.25rem;
                        color: #fff;
                        border-radius: 0.3rem;
                        font-size: 1.8rem;
                        font-weight: 400;
                    }

                    &_default {
                        background-color: #1ec144;
                    }

                    &_stand {
                        background-color: #c52116;
                    }



                }
            }

            .grayBox_img {
                img {
                    display: block;
                    width: 100%;

                    &:nth-child(1) {
                        margin-right: 0;
                        box-shadow: none;
                    }
                }
            }

            .grayBox {
                &_wrap {

                    .grayBoxd {
                        background-color: #edeff3;
                        padding: 2.2% 2.7%;
                        align-items: center;
                        display: flex;
                        flex: 1;

                        p {
                            display: inline-block;
                            font-size: 1.8rem;
                            margin-left: 3.8rem;
                            line-height: 2.8rem;
                            letter-spacing: -0.25rem;
                            font-weight: 400;
                        }
                    }

                    .grayBox {
                        &_4 {
                            width: calc(100%);
                            padding: 1rem 0;
                            background-color: #fff;
                            img {
                                width: 4.2rem;
                                height: 4.4rem;
                                margin-left: 3%;
                                padding: 2.4% 0;
                                box-sizing: unset;
                            }
                            p {
                                margin-left: 2%;
                                span {
                                    display: block;
                                    font-size: 2rem;
                                    font-weight: 600;
                                    margin-bottom: 1rem;
                                }
                            }
                        }
                    }
                }

                &_13 {
                    @include display-flex;
                    width: 100%;
                    p{
                            
                        span{
                            display: block;
                            font-size: 2rem;
                            font-weight: 600;
                            margin-bottom: 1rem;
                        }
                    }
                    .grayBox {
                        
                        &_1,
                        &_3 {
                            @include display-flex;
                        }

                        &_1,
                        &_2,
                        &_3 {
                            img {
                                width: 4.2rem;
                                height: 4.4rem;
                            }
                        }


                        &_2 {
                            margin: 0 0.1rem;

                        }
                    }
                }
            }
        }
    }
    &_vision{
        .vision-wrap{
            img{
                display: block;
                margin: 0 auto;
            }
            .vision{
                
                &_top{
                    width:100%;
                    margin:0 auto;
                   
                    img{
                        max-width:100%;
                    }

                }

                &_bottom{
                    width: 100%;
                    margin:0 auto;
                    padding-bottom:8rem;
                    @include display-flex;
                    @include justify-center;
                    .vision_left{
                       img{
                           
                            width:10.3rem;
                            height:66rem;
                            margin:0 2rem;
                       }

                    }
                    .vision_right{
                        width:90%;
                        img{
                            
                            padding-bottom: 2.4rem;
                             width:113.1rem;
                             height:66.1rem;
                            padding-bottom: 2.4rem;
                        }
                    }
                }
            }
        }
    }
    .grayBox_sh {

        .grayBox_img {
            img {
                width: 100%;
                max-width: 100%;
                box-shadow: 0 .2rem 1.3rem rgba(0, 0, 0, 0.5);
            }
        }
    }
}


.youthCouncil {

    &-top {
        .img-wrap-sh {
            width: 47.5rem;
            -webkit-box-flex: 0;
            -ms-flex: none;
            flex: none;

            img {
                display: block;
                margin: 0 auto;
                border: 1px solid #ddd;
                border-radius: 12rem;
                box-shadow: 1rem 1rem 1.8rem rgba(0, 0, 0, 0.1);
            }
        }
    }

    &_sh {
        .youthCouncil {
            &-des {
                padding-right: 10.5rem;
            }

            &-bottom {
                .cont {
                    p {
                        @include display-flex;
                        @include align-center;
                        justify-content: flex-start;
                        height: 8rem;
                        text-align: left;
                        border-radius: .3rem;
                        font-size: 1.8rem;
                        font-weight: 500;
                        line-height: 3.2rem;
                        border: none;
                    }
                }
            }
        }
    }
}


/*===================================================================================================
===========================================  responsive ==========================================
==================================================================================================*/

@media screen and(max-width:1400px) {
    .content {
        &_vision{
            .vision-wrap{
                padding: 0 2.4rem 7rem 0;
                img{
                    display: block;
                    margin: 0 auto;
                }
                .vision{
                    
    
                    &_bottom{
                        @include justify-center;
                        .vision_right{
                            width:90%;
    
                        }
                    }
                }
            }
        }
        &_ci{
            .grayBox{
                &_sh{
                    .grayBox{
                        &_img{
                            img{
                                width:48%;
                            }
                        }
                    }
                }
            }
        }
        .grayBox {
            padding: 5rem 2.4rem;
            img {
                width:55%;
            }
            .info {
                width: calc(100% - 85rem);
                img {
                    width:inherit;
                }
            }
        }
        .est {

            .top {
                width:100%;
                height: auto;
                padding:0 0 50% 0;
                background-size: contain;
                background-position: bottom center;
                .right{
                    width:100%;
                }
                img {
                    position: absolute;
                    
                    top: 50%;
                    transform: translateY(-50%);
                    padding: 0 0 0 2rem;
                }
                
            }
            .bottom {
                width: 100%;
                display:block;
                bottom:-12%;
                margin-left:0;
                ul {
                    flex-flow: row wrap;
                    
                    li {
                        width: 33.33%;
                    }
                }
            }
        }

        .vision-wrap {            
            box-sizing: border-box;

        }
        
    }


}

@media screen and(max-width:1200px) {
    .content {
        &_vision{
            .vision-wrap{
                img{
                    display: block;
                    margin: 0 auto;
                }
                .vision{
                    &_bottom{
                        padding-bottom: 0;
                        justify-content:space-around;
                        .vision_right{
                            width:80%;
                            overflow-x: scroll;
                         

                            &::-webkit-scrollbar{

                                background: #eee;
                                height: 0.8rem;
                                border-radius: 10rem;
                            }

                            &::-webkit-scrollbar-thumb{

                                background: #aaa;
                                border-radius: 10rem;
                            }

                            &::-webkit-scrollbar-track{
                                border-radius: 10rem;
                            }
                        }
                    }
                }
            }
        }
        
        .introTitle {
            word-break: keep-all;
            line-height:5rem;
            span{
                display:block;
            }
        }
        .grayBox {
            img {
                width:100%;
            }
            .info {
                display:block;
                width: 100%;;
                margin-top: 5rem;
                margin-left: 0;
                img {
                    width:10%;
                    padding-left: 0.5rem;
                    vertical-align: middle;
                }
            }
        }
    }
    .grayBox_sh {
        .grayBox_img {
            width: 100%;
        }


    }

    .content {
        &_ci {
            .grayBox {
                &_sh {
                    .info {
                        p {
                            padding-top: 6rem;
                            padding-bottom: 6rem;
                            width: 90%;
                            margin: 0 auto;
                        }
                    }
                    .grayBox{
                        &_img{
                            img{
                                width:48%;
                            }
                        }
                    }
                    .grayBox {
                        &_ul {
                            li {
                                img {
                                    width: 95%;
                                    object-fit: cover;
                                }
                            }
                        }
                    }
                }
            }
        }

        &_ch {
            .grayBox {
                &_sh {
                    .grayBox {
                        &_img {
                            img {
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }

        &_map {
            .grayBox{
                &_sh{
                    .info {
                        padding: 0;
                        @include display-flex;
                        flex-wrap: wrap;

                        .bus {
                            
                            &1,
                            &2 {
                                margin-left: 1.4rem;
                            }
                        }
                    }
                }
            }
            .grayBox {
                &_wrap {
                    .grayBox{
                        &_13{

                        
                            .grayBox {

                                &_1,
                                &_2,
                                &_3 {
                                    padding: 3.2% 2.7%;
                                    flex-direction: column;
                                    align-items: center;
                                    p{
                                        margin: 0;
                                        text-align: center;
                                        span{
                                            margin-top:2rem;
                                        }
                                    }
                                }


                                &_4 {
                                    padding: 3% 0;
                                }
                            }
                        }
                    }
                }
            
            }
        }
    }
}

@media screen and(max-width:1024px) {
    .content{
        &_vision{
            .vision-wrap{
                img{
                    display: block;
                    margin: 0 auto;
                }
                .vision{
                    
    
                    &_bottom{

                        justify-content:space-around;

                        .vision_right{
                            width:80%;
                        }
                    }
                }
            }
        }
        .est{
            .top{
                top: calc(100% - 76rem);
                .right{
                    top: calc(100% - 76rem);
                }
            }
            .bottom{
                margin-top: -11%;
            }
        }
    }
    .youthCouncil{
        &-top{
            .img-wrap{
                width: 50%;   
            }
            .button-wrap{
                button{
                    min-width: unset;
                    max-width: none;
                }
            }
            &.sh{
                .img-wrap{
                    width: 50%;   
                }   
            }
        }
        &-bottom{
            .title{
                //width: auto;
                margin-left: 0;
            }
        }
    }
}

@media screen and(max-width:720px){
    .content{
        .est{

            .top{
                .right{
                    top: calc(100% - 77rem);
                }
            }
            .bottom{
                bottom:-26%;
                margin-top:-7rem;
            }
        }
    }
    .youthCouncil{
        &-top{
            .img-wrap{
                width: 20%;   
                margin: 0 5%;
                img{
                    width: 100%;
                    
                }
            }
            .button-wrap{
                button{
                    min-width: unset;
                    max-width: none;
                }
            }
            &.sh{
                .img-wrap{
                    width: 20%;
                    height: auto;
                    margin: 0 5%;
                    img{
                        width: 100%;
                        height: auto;
                        
                    }
                }
            }
        }
        &-bottom{
            >ul{
                >li{
                    flex-direction: column;
                }
            }
            .title{
                width: 100%;
                margin-left: 0;
                padding-right: 0rem;
                padding-bottom: 3rem;
                br{
                    display: none;
                }
            }
            .cont{
                p{
                    padding: 1rem;
                }
                &.w-50{
                    width: 100%;
                }
                div{
                    br{
                        display: none;
                    }
                }
            }
        }
        &-des{
            padding-right: 3rem;
            &__box{
                .button-wrap{
                    width:100%;
                }
                p{
                    margin-top: 1rem;
                }
            }
        }
    }
    .grayBox {
        &_sh {
            .grayBox {
                &_img {
                    width: 78%;
                    margin: 0 auto;
                    justify-content: space-evenly;

                    img {
                        width: calc(100% / 2);
                        height: 50%;
                        object-fit: cover;
                        box-sizing: border-box;
                        flex: 1;
                    }
                }

                &_ul {
                    margin: 0 auto;
                    @include display-flex;
                    @include justify-center;
                    @include flex-wrap;
                }

            }

            .info {
                p {
                    width: 80%;
                    margin: 0 auto;
                    font-size: 1.7rem;
                    line-height: 3.6rem;
                    font-weight: 400;
                }
            }
        }
    }

    .content {

        &_ci {
            width: 100%;
            overflow: hidden;

            .grayBox {
                &_sh {
                    .info {
                        p {
                            padding-top: 5rem;
                            padding-bottom: 5rem;
                        }

                        &::before {
                            top: -20%;
                            left: 50%;
                            transform: translateX(-50%);
                        }
                    }
                }
            }
        }

        &_ch {
            .grayBox {
                &_sh {
                    .grayBox {
                        &_ul {
                            li {
                                img {
                                    width: 95%;
                                    object-fit: cover;
                                }
                            }

                            .list {

                                &2,
                                &3,
                                &4 {
                                    flex: 1;
                                }
                            }
                        }
                    }

                    .info {
                        &::before {
                            width: 100%;
                            left: 50%;
                            transform: translateX(-50%);
                            top: -30.5rem;
                            height: calc(100% + 30.5rem);
                            background-color: #f5f8f9;
                        }
                    }
                }
            }
        }

        &_map {
            padding-bottom: 7.8rem;
            margin: 0 auto;

            .grayBox {
                &_sh {
                    .grayBox {
                        &_img {
                            width: 100%;
                            margin: 0 auto;
                        }

                        &wrap{
                            .grayBoxd{

                                p{
                                    text-align: center;
                                    display: block;
                                    font-size: 2rem;
                                    font-weight: 600;
                                    margin-bottom: 1rem;
                                 
                                }
                            }
                        }
                    }

                    .info {
                        flex-wrap: wrap;

                        .bus {

                            &1,
                            &2 {
                                width: 100%;
                                margin: 0 auto;

                                > p {
                                    padding-left: 1rem;
                                    padding-right: 1rem;
                                }
                            }
                        }
                    }


                }

                &_wrap {
                    .grayBox {

                        &_1,
                        &_2,
                        &_3 {
                            width: calc(100% / 4);
                            flex-direction: column;
                        }

                        &_4 {
                            @include display-flex;

                            p {
                                text-align: left;
                                margin-left: 2rem;
                            }
                        }
                    }

                   
                }
            }
        }

        &_vision{
            .vision-wrap{
                .vision{
                    &_bottom{
                        .vision_right{
                            margin:0;
                            
                        }
                    }
                }
            }
        }
    }
}

@media screen and(max-width:360px) {
    .content{
        .est{
            .bottom{
                margin-top: -6rem;
                ul{
                    li{
                        &:nth-child(4),&:nth-child(5),&:nth-child(6){
                            background-position: 90% 70%;
                        }
                    }
                }
            }
        }
    }
    .grayBox {
        &_sh {
            .info {
                p {
                    width: 51rem;
                    margin: 0 auto;
                    font-size: 1.8rem;
                    line-height: 3.6rem;
                    font-weight: 400;
                }
            }
        }
    }
}