@import "../_mixin";

/* 청소년기관지원 */
.textSort {
    .ul-list {
        vertical-align: top;
        li {
            position:relative;
            display:block;
            padding-left:1rem;
            line-height:2.5rem;
            font : {
                size:1.8rem;
                weight:500;
            }
            span {
                display:inline-block;
                margin-top: 0.2rem;
                vertical-align: top;
                font : {
                    size:1.8rem;
                    weight:500;
                }
            }
            &::before {
                position:absolute;
                top:0.8rem;
                left: -1rem;
                width:0.5rem;
                height:0.1rem;
                background-color:#000;
                content:''
            }
            &+li {
                margin-top:0.5rem;
            }
            &.mt_5{
                margin-top:5rem;
            }
            .text-indent {
                display:inline-block;
                &.calc {
                    width: calc(100% - 9rem);
                }
                
                li {
                    padding-left:0.5rem;
                    word-break: keep-all;
                    &::Before {
                        display:none;
                    }
                    &+li {
                        margin-top:0.3rem;
                    }
                }
            }

            .table {
                margin-top:2rem;
                margin-left:-1rem;
                li {
                    padding-left:0;
                    &::before {
                        display:none;
                    }
                    &+li {margin-top:5rem;}
                    .table-wrap.thin {
                        tr {
                            td {
                                padding-left:2rem;
                                text-align:left;
                                font-weight:500;
                            }
                        }
                    }
                }
            }

            .chart {
                margin-left:-2rem;
                li {
                    padding-left:0;
                    &::before {
                        display:none;
                    }
                    .blueTitle {
                        position:relative;
                        margin-top:1.5rem;
                        padding-left: 1rem;
                        color:#005aab;
                        letter-spacing: -0.5px;
                        font : {
                            size:1.8rem;
                            weight:500;
                        }
                        &::before {
                            position:absolute;
                            top:0.6rem;
                            left: 0;
                            width:0.3rem;
                            height:0.3rem;
                            background-color:#005aab;
                            border-radius: 50%;
                            content:'';
                        }
                    }
                    img {
                        margin-top:3rem;
                    }
                    &+li {
                        margin-top:5rem;
                    }
                }
                
            }    
        }
    }
}

.support3 {
    font : {
        size:2rem;
        weight:500;
    }
    letter-spacing: -0.5px;
}
.support3-top {
    position:relative;
    padding:5rem;
    margin-top:4.8rem;
    width:100%;
    height:29.1rem;
    background-color:#f5f8f9;
    box-sizing: border-box;
    &::after {
        position:absolute;
        right: 5rem;
        bottom: 0;
        width:55.2rem;
        height:29.1rem;
        background:url(../../image/sub/support03.png) no-repeat;
        content:'';
    }
    .tit {
        font-size:2.4rem;
        font-weight:600;
        letter-spacing: -0.5px;
        color:#005aab;
    }
    .txt {    
        display: inline-block;
        margin-top:3rem;
        font-size:1.8rem;
        font-weight:500;
        letter-spacing: -0.5px;
        line-height: 3.5rem;
        color:#000;
    }
}


/* 청소년기관 현황 */ 

.area{
    &-wrap{
        >div{
            @include display-flex;
        }
    }
    &-select{
        @include d-flex;
        flex:1;
        background: #f3f4f6;
        padding: 0 5rem;
        .cho_place{
            .tit{
                margin-bottom: 3rem;
                font: {
                    size: 3rem;
                    weight: 500;
                }
            }
            .des{
                margin-bottom: 5rem;
                font: {
                    size: 2rem;
                    weight: 500;
                }
                line-height: normal;
            }
        }
    }
    &-img{
        width: 62rem;
        border:1px solid #dfdfdf;
        .list{
            display: block;
            position: unset;
            height: auto;
            background: none;
            img{
                display: none;
            }
            &.active{
                img{
                    display: block;
                }
            }
        }
       
    }
}
.cho_place{
    .form{
        &-select{
            @include display-flex;
            height: 5rem;
            select{
                flex:1;
                font-size: 1.8rem;
                color:#555555;
                background-color: #ffffff;
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='8'%3E%3Cpath fill-rule='evenodd' fill='rgb(85, 85, 85)' d='M4.994 8.003-.001-.003h9.99L4.994 8.003Z'/%3E%3C/svg%3E");
                border: 1px solid #dddddd;
                line-height: 5rem;
                &+select{
                    margin-left: 4px;
                }
            }
        }
        &-search{
            @include display-flex;
            width:100%;
            height:5rem;
            margin-top: 1rem;
            border:1px solid #dddddd;
            input{
                flex:1;
                &::placeholder{
                    font-size: 1.8rem;
                    color:#b5b5b5;
                }
            }
            .btn-search{
                width:11.9rem;
                color:#ffffff;
                background:#555555;
                font-size: 1.8rem;
            }
        }
    }
}

.hidden{
    position: absolute;
    left: -99999px;
    top: -99999px;
    width: 1px;
    height: 1px;
}

.youthPop{
    &__inner{
        font-size: 2.2rem;
        *{
            font-size: 2.2rem;    
            line-height: 4rem;
        }
    }
}

/* 청소년 법령 */
.youthPop__inner {
    .law {
        tbody {
            tr {
                td{
                    &.text-left {
                        text-align: left;
                    }
                }
            }
        }
    }
}


/*===================================================================================================
===========================================  responsive ==========================================
==================================================================================================*/ 


@media screen and(max-width:1400px) {
    .sub-tab{
        ul{
            li{
                a{
                    padding:0 3rem;
                }
            }
        } 
    } 
}

@media screen and(max-width:1024px){
    .area{
        &-img{
            width:100%;
            img{
                margin: 0 auto;
            }
        }
        &-select{
            padding: 5rem;
        }
        &-wrap{
            >div{
                flex-direction: column;
            }
        }
    }
}

@media screen and(max-width:720px){
    .youthPop__inner{
        .img-wrap{
            img{
                width:100%;
            }
        }
    }
    .area{
        &-img {
            .list {
                img{
                    width: 100%;
                }
            }
        }
    }
    .cho_place{
        .form{
            &-search{
                height: 5rem;
                input{
                    height: 100%;
                }
                .btn-search{
                    height:100%;
                }
            }
            &-select{
                height: 5rem;
                select{
                    width:100%;
                    height: 100%;
                }
            }
        }     
    }
}

@media screen and(max-width:375px){
    
}
