@import "./_mixin";

/* se1 */
.se1{
    margin: 0 auto;
    width:100%;
    height:57.5rem;
    background: url(../../resource/image/main/main_bg.jpg) no-repeat center center;
    background-size:cover;
    
    .se1Wrap {
        @include d-flex;
        position: relative;
        width:100%;
        top: 50%;
        transform: translateY(-50%);
        
        .se1Box1 {
            overflow:hidden;
            display:inline-block;
            width:82.3rem;
            height:49.5rem;
            background-color:#fff;
            padding: 1rem 0;
            box-sizing: border-box;

            .swiper {
                position:relative;
                width: 100%;
                height: 100%;
                .swiper-slide {
                    text-align: center;
                    font-size: 1.8rem;
                    background: #fff;
            
                    /* Center slide text vertically */
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: -webkit-flex;
                    display: flex;
                    -webkit-box-pack: center;
                    -ms-flex-pack: center;
                    -webkit-justify-content: center;
                    justify-content: center;
                    -webkit-box-align: center;
                    -ms-flex-align: center;
                    -webkit-align-items: center;
                    align-items: center;
                }
                .box1_btn {
                    position:absolute;
                    padding:2rem;
                    right:0;
                    bottom:-1rem;
                    background-color: #fff; 
                    width:70.3rem;
                    height:6.5rem;
                    z-index: 1;
                    box-sizing:border-box;
                    
                    .btnBox{
                        position:absolute;
                        top:2rem;
                        right:3rem;
                        width:7.8rem;
                        height:2.1rem;
                        .swiper-button-prev {
                            top: 50%;
                            left: auto;
                            width: 1.3rem;
                            height: 1.9rem;
                            margin: 0;
                            background: url(../../resource/image/common/icon/icon_arrowLeft_b.png)no-repeat center center;
                            transform: translateY(-50%);
                            cursor: pointer;
                            &:after, .swiper-container-rtl .swiper-button-next:after{
                                display:none;
                            }
                        }
                        .swiper-button-pause {
                            position: relative;
                            top: 50%;
                            left: 50%;
                            width: 1.3rem;
                            height: 1.9rem;
                            margin: 0;
                            background: url(../../resource/image/common/icon/icon_pause_b.png)no-repeat center center;
                            transform: translate(-50%, -50%);
                            cursor: pointer;
                            &.off {
                                background: url(../../resource/image/common/icon/icon_play_b.png)no-repeat center center;
                            }
                        }
                        .swiper-button-next {
                            top: 50%;
                            right:0;
                            left: auto;
                            width: 1.3rem;
                            height: 1.9rem;
                            margin: 0;
                            background: url(../../resource/image/common/icon/icon_arrowRight_b.png)no-repeat center center;
                            transform: translateY(-50%);
                            cursor: pointer;
                            &:after, .swiper-container-rtl .swiper-button-prev:after{
                                display:none;
                            }
                        }

                        
                    }
                    
                    .swiper-progress-bar{
                        width: 43rem;
                        height: 0.6rem;
                        position: relative;
                        margin: 0;
                        background: #eeeeee;
                        border-radius: 1rem;
                        top: 50%;
                        transform: translateY(-50%);
                        .progress{
                            height: inherit;
                            left: 0;
                            top: 0;
                            position: absolute;
                            background: #f78000;
                            z-index: 1;
                            border-radius: 1rem;
                        }
                        .progress-sections{
                            left: 0;
                            top: 0;
                            position: absolute;
                            height: inherit;
                            width: inherit;
                            z-index: 2;
                            display: flex;
                            flex-direction: row;
                            border-radius: 1rem;
                            span{
                                flex: 1;
                                height: inherit;
                                border-right: 2px solid #eee;
                                &:last-child{
                                    border-right-width: 0;
                                }
                            }
                        }
                    }
                    .swiper-counter{
                        display:inline-block;
                        width:3.5rem;
                        font-size:1.6rem;
                        position:absolute;
                        right:18.5rem;
                        top: 50%;
                        transform: translateY(-50%);
                        .current {
                            font-size:2.4rem;
                        }
                        .total{
                            font-size:1.6rem;
                            font-weight:300;
                        }
                    }
                }
            }
        }
        .se1Box2 {
            overflow:hidden;
            display:inline-block;
            margin-left:4.8rem;
            width:52.7rem;
            height:49.5rem;
            background-color:#fff;
            padding: 1rem 0;
            box-sizing: border-box;

            .swiper {
                position:relative;
                width: 100%;
                height: 100%;
                .swiper-slide {
                    text-align: center;
                    font-size: 1.8rem;
                    background: #fff;
            
                    /* Center slide text vertically */
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: -webkit-flex;
                    display: flex;
                    -webkit-box-pack: center;
                    -ms-flex-pack: center;
                    -webkit-justify-content: center;
                    justify-content: center;
                    -webkit-box-align: center;
                    -ms-flex-align: center;
                    -webkit-align-items: center;
                    align-items: center;
                    img {
                        position: absolute;
                        top: 0;
                    }
                }
                .box2_btn {
                    position:absolute;
                    padding:1rem;
                    right:0;
                    bottom:-1rem;
                    background-color: #fff; 
                    width:100%;
                    height:6.5rem;
                    z-index: 1;
                    box-sizing: border-box;
                    p {
                        padding-left: 2rem;
                        font-size: 1.8rem;
                        font-weight:500;
                        line-height:4.5rem;
                    }
                    .popupZone{
                        position: absolute;
                        top: 1rem;
                        right: 1rem;
                        width:11.2rem;
                        height:4.5rem;
                        .swiper-button-prev {
                            top: 50%;
                            left: auto;
                            width: 1.3rem;
                            height: 1.9rem;
                            margin: 0;
                            background: url(../../resource/image/common/icon/icon_arrowLeft_b.png)no-repeat center center;
                            transform: translateY(-50%);
                            cursor: pointer;
                            &:after, .swiper-container-rtl .swiper-button-next:after{
                                display:none;
                            }
                        }
                        .swiper-button-next {
                            top: 50%;
                            right:0;
                            left: auto;
                            width: 1.3rem;
                            height: 1.9rem;
                            margin: 0;
                            background: url(../../resource/image/common/icon/icon_arrowRight_b.png)no-repeat center center;
                            transform: translateY(-50%);
                            cursor: pointer;
                            &:after, .swiper-container-rtl .swiper-button-prev:after{
                                display:none;
                            }
                        }
                        .swiper-pagination-fraction{
                            width:4rem;
                            left: 50%;
                            transform: translateX(-50%);
                            font-size:1.6rem;
                            .swiper-pagination-current {
                                font-size:2.4rem;
                            }
                        }
                    }
                    
                }
            }
        }
    }
}
/* //se1 */
/* se2 */
.se2 {
    background-color:#fff;
    .iconWrap{
        display:flex;
        justify-content: space-between;
        border-left:1px solid #eee;
        border-right:1px solid #eee;
        .icon{
            position:relative;
            overflow:hidden;
            width: 16.6%;
            height:19rem;
            text-align: center;
            box-sizing: border-box;
            & + .icon{border-left:1px solid #eee;}
            
            .seBox{
                position:absolute;
                display:block;
                width: 100%;
                height:19rem;
                border-radius:1rem;
                .se2_1{margin:0 auto;margin-top: 3.5rem;width:8.6rem;height:8.6rem;background:#f0f2f7 url(../../resource/image/main/main_icon1.png) no-repeat center center;border-radius: 1rem;}
                .se2_2{margin:0 auto;margin-top: 3.5rem;width:8.6rem;height:8.6rem;background:#f0f2f7 url(../../resource/image/main/main_icon2.png) no-repeat center center;border-radius: 1rem;}
                .se2_3{margin:0 auto;margin-top: 3.5rem;width:8.6rem;height:8.6rem;background:#f0f2f7 url(../../resource/image/main/main_icon3.png) no-repeat center center;border-radius: 1rem;}
                .se2_4{margin:0 auto;margin-top: 3.5rem;width:8.6rem;height:8.6rem;background:#f0f2f7 url(../../resource/image/main/main_icon4.png) no-repeat center center;border-radius: 1rem;}
                .se2_5{margin:0 auto;margin-top: 3.5rem;width:8.6rem;height:8.6rem;background:#f0f2f7 url(../../resource/image/main/main_icon5.png) no-repeat center center;border-radius: 1rem;}
                .se2_6{margin:0 auto;margin-top: 3.5rem;width:8.6rem;height:8.6rem;background:#f0f2f7 url(../../resource/image/main/main_icon6.png) no-repeat center center;border-radius: 1rem;}
            }
            
            p {margin-top:20px;font-size:18px;font-weight:500;letter-spacing: -0.5px;}
        }
    }
}
/* //se2 */
/* se3 */
.se3{
    padding: 50px 0;
    background-color:#f3f4f6;
    .se3Wrap {
        @include d-flex;
        justify-content: flex-start;
        .mainBoard {
            position:relative;
            width:82.3rem;
            height:33.3rem;
            vertical-align: top;
            .tab_wrap{
                h4{
                    position: relative;
                    padding: 0;
                    margin:0;
                    margin-left: 1px;
                    float: left;
                    width: 19.5rem;
                    height: 5.2rem;
                    line-height: 5.2rem;
                    font-size: 18px;
                    font-weight: bold;
                    color: #fff;
                    text-align:center;
                    background:#909090;
                    cursor: pointer; 
                    z-index: 10;
                    &:first-child {
                        margin-left:0;
                    }
                    &.on {
                        background:#005aab;
                        border-bottom:1px solid #000;
                    }
                    a {
                        color:#fff;
                    }
                }
                .tab_cont{
                    position:absolute;
                    display:none;
                    width:82.3rem;
                    height:auto;
                    top:5.2rem;
                    box-sizing:border-box;
                    border-top:1px solid #000;
                    border-bottom:1px solid #e0e0e1;
                    &.on {
                        display:block;
                        background:#fff;
                        border-bottom:1px solid #e0e0e1;
                    }
                    ul {
                        margin:0;padding:0;
                        li {
                            position: relative;
                            padding: 2.6rem 1.8rem;
                            width: 100%;
                            line-height: 100%;
                            list-style: none;
                            font-size:1.8rem;
                            box-sizing: border-box;
                            background-color:#f3f4f6;
                            &+li {
                                border-top:1px solid #e0e0e1;
                            }
                            em {
                                float:right;
                                font-size:1.4rem;
                            }
                        }
                    }
                    .more {
                        position: absolute;
                        top: -38px; 
                        right: 0;
                        display: block;
                        width: 2.2rem;
                        height: 2.2rem;
                        margin-right: 1rem;
                        color: #888;
                        line-height: 2.2rem;
                        text-decoration: none;}
                }
            }
        }
        .infoImg {
            margin-left:4.9rem;
            vertical-align: top;
            a{
                & + a {margin-left:1rem;}
            }
             
        }
    }
}

/* //se3 */
/* se4 */
.se4Wrap {
    margin-top:5rem;
    margin-bottom:10rem;
    display:flex;
    h3 {
        display:inline-block;
        margin-top: 0;
        margin-bottom: 3.4rem;
        font-size: 2.4rem;
        line-height: 100%;
    }
    .se4Cont{
        padding:3rem;
        margin-top:-2px;
        letter-spacing: -0.5px;
        box-sizing: border-box;
        border:1px solid #e9e9e9;
        .tit {
            padding-bottom:1.7rem;
            font-size:18px;
            font-weight:500;
            text-align: left;
        }
        .txt {
            p{
                text-align: left;
                font-weight:400;
                font-size:16px;
                color:#747478;
                &+p{
                    margin-top:1rem;
                }
            }
        }
    }
    .activityInfo {
        overflow:hidden;
        width: 83.8rem;
        margin-right:5rem;
        .searchBox {
            width:82.3rem;
            height:9.3rem;
            background-color: #f2f2f2;
            margin-bottom: 1.5rem;
            form {
                display:flex;
                padding-left: 2.2rem;
                dl {
                    display: inline-block;
                    padding:2.9rem 0;
                    box-sizing:border-box;
                    vertical-align: top;
                    ::before {}
                    dt {
                        display:inline-block;
                        font-weight:400;
                        font-size:1.8rem;
                        line-height: 4rem;
                        &.dt {
                            position:relative;
                            margin-left:3rem;
                            &::before{
                                position:absolute;
                                top:-2.9rem;
                                left:-3rem;
                                width:1px;
                                height:9.8rem;
                                background-color: #fff;
                                content:'';
                            }
                        }   
                    }
                    dd {
                        display:inline-block;
                        &.date {
                            display:inline-block;
                            padding:0 3rem 0 0.6rem;
                        }
                        &.btn {
                            width:3.8rem;
                            height:3.8rem;
                            box-sizing:border-box;
                        }
                    }
                    .hipen{
                        padding:0 1.2rem;
                        font-size:2rem;
                    }
                    input {
                        position:relative;
                        width:18rem;
                        height:4rem;
                        border:1px solid #dddddd;
                        padding-right: 4.5rem;
                        background: url(../../resource/image/common/icon/icon_calendar.png) no-repeat right 1.3rem center;
                        background-color:#fff;
                        &.search{
                            width:3.8rem;
                            height:3.8rem;
                            background: url(../../resource/image/common/icon/icon_search_b.png) no-repeat center center; 
                            border:0;
                        }
                    }
                    .part {
                        select {
                            margin: 0 0.5rem;
                            width:18rem;
                            height:4rem;
                            border:1px solid #dddddd;  
                            background:#fff url(../../resource/image/common/icon/icon_arrowDown_small.png) no-repeat right 1.3rem center; 
                            font-size:1.4rem;
                            color:#747478;
                            font-weight:400;
                        }
                    }
                }
            }
           
            
        }
        .se4Box{
            .swiper {
                position:relative;
                width: 100%;
                height: 100%;
                .swiper-slide {
                    text-align: center;
                    font-size: 1.8rem;
                    background: #fff;
            
                    /* Center slide text vertically */
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: -webkit-flex;
                    display: flex;
                    -webkit-box-pack: center;
                    -ms-flex-pack: center;
                    -webkit-justify-content: center;
                    justify-content: center;
                    -webkit-box-align: center;
                    -ms-flex-align: center;
                    -webkit-align-items: center;
                    align-items: center;
                }
                .swiper-slide {
                    display: block;
                    width:39.6rem;
                }
            }
            .se4_btn{
                position:relative;
                float:right;
                top: -15.7rem;
                right:0;
                width:5rem;
                height:1.4rem;
                .swiper-button-prev {
                    top: 50%;
                    left: auto;
                    width: 1.3rem;
                    height: 1.9rem;
                    margin: 0;
                    background: url(../../resource/image/common/icon/icon_arrowLeft_b.png)no-repeat center center;
                    transform: translateY(-50%);
                    cursor: pointer;
                    &:after, .swiper-container-rtl .swiper-button-next:after{
                        display:none;
                    }
                }
                .swiper-button-next {
                    top: 50%;
                    right:0;
                    left: auto;
                    width: 1.3rem;
                    height: 1.9rem;
                    margin: 0;
                    background: url(../../resource/image/common/icon/icon_arrowRight_b.png)no-repeat center center;
                    transform: translateY(-50%);
                    cursor: pointer;
                    &:after, .swiper-container-rtl .swiper-button-prev:after{
                        display:none;
                    }
                }
            }
           
        }
    }
    .videoMaterial {
        width: calc(100% - 87.3rem);
        .more {
            float:right;
            margin-top:6px;
            margin-right:10px;
        }
        .vedio {
            .vBox {
                position:relative;
                &::before {
                    position:absolute;
                    top:50%;
                    left:50%;
                    transform: translate(-50%, -50%);
                    width:81px;
                    height:81px;
                    background: url(../../resource/image/common/icon/icon_mainPlay.png) no-repeat;
                    z-index:1;
                    content:'';
                }
            }
        }
    }
}
/* //se4 */

/* hoverEffect */
@media (min-width: 1024px) {
    .se2 {
        .iconWrap {
            .icon {
                &:hover {
                    transition: 0.5s;
                    background-color:#005aab;
                    box-shadow: 9px 12px 15px 0px rgba(0, 0, 0, 0.2);
                    z-index:1;
                    .se2_1{background-color:#fff;}
                    .se2_2{background-color:#fff;}
                    .se2_3{background-color:#fff;}
                    .se2_4{background-color:#fff;}
                    .se2_5{background-color:#fff;}
                    .se2_6{background-color:#fff;}
                    p {
                        color:#fff;
                    }
                }
            }
        }
    }

}


/* responsive */
@media screen and (max-width: 1600px) {
    .se1 {
        .se1Wrap {
            .se1Box1{
                //height: 100%;
            }
            .se1Box2{
                //height: 100%;
            }
        }
    }

    .se3 {
        .se3Wrap {
            .mainBoard {
                overflow: hidden;
                width: calc(100% - 59rem);
                .tab_wrap {
                    .tab_cont {
                        width:100%;
                    }
                }
            }
        } 
    }
    .se4Wrap {
        .activityInfo {
            width:60%;
            .searchBox {
                width: 100%;
                form {
                    display: block;
                }
                dl {
                    padding:0.1rem 2.7rem 0.1rem 0 !important;
                    display:block !important;
                    dt {
                        &:nth-child(1) {
                            display:inline-block;
                        }
                        &.dt {
                            margin-left:0 !important;
                            width: 4.5rem;
                        }
                    }
                    dd {
                        &.date {
                            display:inline-block;
                        }
                    }
                }
            }
            .se4Box {
                .se4Info {
                    img {
                        width:100%;
                    }
                }
            }
        }
        .videoMaterial {
            width: 40%;
            .vedio {
                img {
                    width:100%;
                }
            }
        }
    }
    
}
@media (max-width: 1400px) {
    .se1 {
        .se1Wrap {
            .se1Box1 {
                height: 42rem;
                .swiper {
                    .swiper-slide {
                        img {
                            position:absolute;
                            top:0;
                            width:96%;
                            height:100%;
                        }
                    }
                    .box1_btn {
                        .swiper-progress-bar {
                            width:30rem;
                            left:10rem;
                        }
                    }
                }
            }
            .se1Box2 {
                height: 42rem;
                .swiper {
                    .swiper-slide {
                        img {
                            width:95%;
                            height:100%;
                        }
                    }
                }
            }
        }
    }
    .se3 {
        .se3Wrap {
            justify-content: space-between;
            .mainBoard {
                overflow: hidden;
                width: calc(100% - 55rem);
                .tab_wrap {
                    h4 {
                        width:33.19%;
                    }
                    .tab_cont {
                        ul {
                            li {
                                a {
                                    display: inline-block;
                                    overflow: hidden;
                                    white-space: nowrap;
                                    text-overflow: ellipsis;
                                    width: calc(100% - 14.2rem);
                                    line-height: 100%;
                                }
                            }
                        }
                        .more {
                            display:none;
                        }
                    }
                }
            }

            .infoImg {
                margin-left: 2rem;
            }
        } 
    }

}

@media (max-width: 1024px) {
    .se1 {
        height: 100%;
        padding-bottom: 10rem;
        .se1Wrap {
            display:block;
            top: 5rem;
            transform: inherit;
            margin: 0 2.4rem;
            overflow: hidden;
            width:93%;
            box-sizing: border-box;
            .se1Box1 {
                position: relative;
                width:100%;
                .swiper {
                    img {
                        width:100%;
                    }
                    .box1_btn {
                        .btnBox {
                            .swiper-button-prev {
                                background-size: contain;
                            }
                            .swiper-button-next {
                                background-size: contain;
                            }
                            .swiper-button-pause {
                                background-size: contain;
                            }
                        }
                    }
                }
            }
            .se1Box2 {
                width:100%;
                margin-top:1rem;
                margin-left: 0;
                .swiper {
                    img {
                        width:100%;
                    }
                    .box2_btn {
                        .popupZone {
                            right:2rem;
                            .swiper-button-prev {
                                background-size: contain;
                            }
                            .swiper-button-next {
                                background-size: contain;
                            }
                            .swiper-pagination-fraction {
                                top: 0.4em;
                            }    
                        }
                    }
                }
            }
        }
    }


    .se2 {
        padding:5rem 2.4rem;
        .iconWrap {
            flex-flow:row wrap;
            border-top: 1px solid #ddd;
            border-bottom: 1px solid #ddd;
            border-left:0;
            .icon {
                width:50%;
                height:25rem;
                border-left: 1px solid #ddd;
                p {
                    font-size:2.4rem;
                }
                .seBox {
                    height:25rem;
                    .se2_1 {
                        width:12.4rem;
                        height:12.4rem;
                    }
                    .se2_2 {
                        width:12.4rem;
                        height:12.4rem;
                    }
                    .se2_3 {
                        width:12.4rem;
                        height:12.4rem;
                    }
                    .se2_4 {
                        width:12.4rem;
                        height:12.4rem;
                    }
                    .se2_5 {
                        width:12.4rem;
                        height:12.4rem;
                    }
                    .se2_6 {
                        width:12.4rem;
                        height:12.4rem;
                    }
                }
                &+.icon {
                    border-left: 1px solid #ddd !important;
                }
                &:nth-child(n+3) {
                    border-top:1px solid #ddd;
                }    
            }
        }
    }
    
    .se3 {
        padding: 50px 2.4rem;
        .se3Wrap {
            display:block;
            .mainBoard {
                width: 100%;
                height:39rem;
                .tab_wrap {
                    h4 {
                        width: 33.25%;
                        height:7rem;
                        line-height: 7rem;
                        font-size: 2.2rem;
                    }
                    .tab_cont {
                        top: 7rem;
                        ul  {
                            li {
                                a {
                                    width:100%;
                                    font-size:2.2rem;
                                    padding-top:0.2rem;
                                }
                                em {
                                    display:none;
                                }
                            }
                        }
                    }
                }
            }

            .infoImg {
                display:flex;
                padding-top: 2.5rem;
                margin-left:0;
                a {
                    width:50%;
                    img {
                        width: 100%;
                    }
                    &+a {
                        margin-left: 2.5rem;
                    }
                }
            }
        }
    }

    .se4 {
        padding: 0 2.4rem;
        .se4Wrap {
            display: block;
            margin-bottom:5rem;
            h3 {
                font-size: 2.6rem;
            }
            .activityInfo {
                width:100%;
                padding-bottom:5rem;
                .searchBox {
                    height:23rem;
                    form {
                        padding-left:0;
                        dl {
                            padding: 3rem 4rem !important;
                            &+dl{
                                border-top:2px solid #fff;
                            }
                            input {
                                width:47%;
                                height:5.3rem;
                                &.search {
                                    width:5.3rem;
                                    height:5.3rem;
                                    background-size: contain;
                                }
                                background-size:auto;
                            }
                            .part {
                                width: calc(100% - 13rem);
                                select {
                                    width:100%;
                                    height:5.3rem;
                                    margin-right:0.5rem;
                                }
                            }
                           
                            dt {
                                font-size:2rem;
                                font-weight: 500;
                                letter-spacing: -0.5px;
                                vertical-align: middle;
                                &.dt {
                                    
                                    &::before {
                                        display: none;
                                    }
                                }
                            }
                            dd {
                                &.date {
                                    padding:0;
                                    padding-left: 1.5rem;
                                    width: calc(100% - 7rem);
                                }
                                &.part {
                                    padding-left: 0.5rem;
                                }
                                &.btn {
                                    position: relative;
                                    margin-left: 1rem;
                                }
                            }
                        }
                    }
                }
            }
            .se4Box {
                .se4_btn {
                    top:-30rem;
                    .swiper-button-prev {
                        background-size: contain;
                    }
                    .swiper-button-next {
                        background-size: contain;
                    }
                }
            }
            .se4Cont {
                .tit {
                    font-size:2rem;
                    line-height:2.5rem;
                }
                .txt {
                    p {
                        font-size:1.8rem;
                    }   
                } 
            }

            .videoMaterial {
                position:relative;
                width:100%;
                padding:5rem 0;
                background-color: #f3f4f6;
                &::before {
                    position:absolute;
                    top: 0;
                    left:-2.4rem;
                    width:2.4rem;
                    height:100%;
                    background-color: #f3f4f6;
                    content:'';
                }
                &::after {
                    position:absolute;
                    top: 0;
                    right:-2.4rem;
                    width:2.4rem;
                    height:100%;
                    background-color: #f3f4f6;
                    content:'';
                }
                .vedio {
                    display:flex;
                    .vBox {
                        width: 70%;
                    }
                    .se4Cont {
                        background-color: #fff;
                        .txt {
                            p {
                                line-height:2.8rem;
                            }
                        }
                    }
                }
            }
        }
    }
}


@media (max-width: 900px) {
    .se3 {
        .se3Wrap {
            .mainBoard {
                .tab_wrap {
                    h4 {
                        width: 33.18%;
                    }
                }
            }
        }
    }
    .se4 {
        .se4Wrap {
            .activityInfo {
                .searchBox {
                    form {
                        dl {
                            input {
                                width: 46%;
                            }    
                        }
                    }
                }
            }
        }
    }
}  

@media (max-width: 640px) {
    .se3 {
        .se3Wrap {
            .mainBoard {
                .tab_wrap {
                    h4 {
                        width: 33.1%;
                    }
                }
            }
        }
    }


    .se4Wrap {
        .videoMaterial {
            .vedio {
                img {
                    height: 100%;
                }
            }
        }
    }
}  

@media (max-width: 480px) {
    .se4 {
        .se4Wrap {
            .activityInfo {
                .searchBox {
                    form {
                        dl {
                            input {
                                width: 44%;
                            }    
                        }
                    }
                }
            }
        }
    }
}