@charset "UTF-8";
/* tab */
.tab { display: flex; align-items: center; justify-content: center; width: 100%; }

.tab li { display: flex; align-items: center; justify-content: center; height: 7rem; flex: 1; font-size: 2.2rem; font-weight: 500; color: #555555; background: #eef1f6; }

.tab li.current { position: relative; color: #000000; box-shadow: 0.03rem 0.03rem 1.8rem rgba(0, 0, 0, 0.18); border: solid 1px #005aab; background-color: #fff; z-index: 1; font-size: 2rem; font-weight: 500; }

.tab li a { display: flex; align-items: center; justify-content: center; }

.tabcontent { display: none; margin-top: 7rem; }

.tabcontent.current { display: block; }

.tab-content { height: auto; }

.history__inner .swiper-container { padding: 0 5rem; }

.history__inner .swiper-container::before { position: absolute; top: 1rem; left: 0; width: 100%; height: 1px; background: url(../../image/sub/bg-dash.png); content: ""; }

.history__inner .swiper-wrapper { padding-right: 10rem; }

.history__inner .swiper-slide { display: flex; align-items: center; justify-content: center; width: auto; }

.history__inner .swiper-scrollbar { left: 0; bottom: 0; width: 100%; height: 1rem; background: #eeeeee; }

.history__inner .swiper-scrollbar-drag { background: #747478; }

.history-item { position: relative; padding-top: 4rem; padding-bottom: 7rem; }

.history-item::before { position: absolute; top: 0; width: 2.1rem; height: 2.1rem; background: #ffffff; box-shadow: 0.3rem 0.3rem 1.8rem rgba(0, 0, 0, 0.18); border: .5rem solid #005aab; border-radius: 100%; box-sizing: border-box; content: ""; }

.history-item .year { margin-bottom: 2.5rem; font-size: 2.4rem; font-weight: 600; color: #005aab; }

.history-item__cont li { display: flex; display: flex; flex-direction: column; font-size: 1.8rem; font-weight: 500; color: #555555; line-height: 2.8rem; }

.history-item__cont li span { font-size: 1.8rem; font-weight: 600; color: #000000; line-height: 2.8rem; }

.history-item__cont li + li { margin-top: 1.5rem; }

.content { /* 센터소개 */ /* 설립목적 */ }

.content .introTitle { font-weight: 600; font-size: 3.6rem; text-align: center; }

.content .introTitle span { font-weight: 600; color: #005aab; }

.content .grayBox { padding: 5rem 10rem; margin-top: 5.3rem; background-color: #f3f4f6; }

.content .grayBox img { display: inline-block; }

.content .grayBox .info { position: relative; display: inline-block; width: calc(100% - 815px); margin-left: 11rem; vertical-align: top; }

.content .grayBox .info::before { position: absolute; top: -5rem; left: -5rem; width: 1px; height: 52.8rem; background-color: #fff; content: ''; }

.content .grayBox .info p { font-size: 1.8rem; font-weight: 500; word-break: keep-all; line-height: 3rem; letter-spacing: -0.5px; }

.content .grayBox .info p + p { padding-top: 4.8rem; }

.content .est { position: relative; }

.content .est .top { display: flex; display: flex; flex-direction: row-reverse; height: 65.7rem; padding: 5rem; width: 100%; background: url(../../image/sub/est_1.jpg) no-repeat; background-size: cover; background-position: top center; box-sizing: border-box; }

.content .est .top img { display: inline-block; padding: 2.5rem 0 2.5rem 10rem; }

.content .est .top .right { display: inline-block; width: calc(100% - 65.8rem); vertical-align: top; }

.content .est .top .right div { padding-bottom: 2.5rem; font-size: 3rem; font-weight: 600; }

.content .est .top .right p { font-size: 1.8rem; word-break: keep-all; line-height: 2.8rem; font-weight: 500; letter-spacing: -0.5px; }

.content .est .top .right p + p { margin-top: 4rem; margin-bottom: 5rem; }

.content .est .bottom { margin-top: -14.4rem; margin-left: 5rem; background-color: #fff; }

.content .est .bottom ul { display: flex; justify-content: space-around; box-sizing: border-box; }

.content .est .bottom ul li { padding: 4rem 3rem; width: 16.66%; box-sizing: border-box; background-size: 3.8rem 3.4rem !important; }

.content .est .bottom ul li + li + li { position: relative; }

.content .est .bottom ul li + li + li::before { position: absolute; left: 0; width: 1px; height: 16.4rem; background-color: #eee; content: ''; }

.content .est .bottom ul li:nth-child(1) { background: #005aab url(../../image/sub/estIcon1.png) no-repeat 90% 90%; }

.content .est .bottom ul li:nth-child(1) div { margin-bottom: 1.5rem; font-size: 2rem; color: #fff; font-weight: 500; }

.content .est .bottom ul li:nth-child(1) p { font-size: 1.8rem; color: #fff; line-height: 3rem; }

.content .est .bottom ul li:nth-child(2) { background: url(../../image/sub/estIcon2.png) no-repeat 90% 90%; }

.content .est .bottom ul li:nth-child(3) { background: url(../../image/sub/estIcon3.png) no-repeat 90% 90%; }

.content .est .bottom ul li:nth-child(4) { background: url(../../image/sub/estIcon4.png) no-repeat 90% 90%; }

.content .est .bottom ul li:nth-child(5) { background: url(../../image/sub/estIcon5.png) no-repeat 90% 90%; }

.content .est .bottom ul li:nth-child(6) { background: url(../../image/sub/estIcon6.png) no-repeat 90% 90%; }

.content .est .bottom ul li div { margin-bottom: 1.5rem; font-size: 2rem; color: #000; font-weight: 600; }

.content .est .bottom ul li p { font-size: 1.8rem; color: #000; line-height: 3rem; font-weight: 400; }

.content .est .bottom ul li span { display: block; margin-top: 1rem; font-size: 1.6rem; color: #555; line-height: 2.2rem; }

/* 조직도 */
.groupTit { display: block; font-size: 3rem; font-weight: 600; }

.groupTable { margin-top: 3rem; border-top: 1px solid #005aab; }

.groupTable table thead th { background-color: #f2f7fb; border: 0 !important; }

.groupTable table thead th + th { border-left: 1px solid #ddd !important; border-bottom: 1px solid #ddd !important; }

.groupTable table tbody td { text-align: left; color: #000 !important; border: 0 !important; }

.groupTable table tbody td + td { border-left: 1px solid #ddd !important; border-bottom: 1px solid #ddd !important; }

.groupWrap { display: none; }

.groupWrap.on { display: block; }

/* 운영법인 */
.youthCouncil-top { position: relative; margin-bottom: 5rem; }

.youthCouncil-top.sh .title { color: #000000; }

.youthCouncil-top.sh .img-wrap { width: 47.5rem; flex: none; }

.youthCouncil-top.sh .img-wrap img { width: 23.8rem; height: 23.8rem; border-radius: 100%; border: 1px solid #dddddd; box-shadow: 1rem 1rem 1.8rem rgba(0, 0, 0, 0.1); }

.youthCouncil-top::before { position: absolute; top: 6.5rem; width: 100%; height: calc(100% - 1.5rem); background: #f5f8f9; content: ""; z-index: -1; }

.youthCouncil-top .img-wrap { width: 47.5rem; flex: none; }

.youthCouncil-top .img-wrap img { display: block; margin: 0 auto; border-radius: 3rem; box-shadow: 1rem 1rem 1.8rem rgba(0, 0, 0, 0.1); }

.youthCouncil-top .title { margin-bottom: 3rem; font-size: 3rem; font-weight: 600; color: #005aab; }

.youthCouncil-top p { font-weight: 500; line-height: 3rem; letter-spacing: -.1rem; }

.youthCouncil-top .button-wrap { justify-content: flex-start; }

.youthCouncil-top .button-wrap button { width: 100%; max-width: 45rem; height: 6rem; line-height: normal; font-size: 2rem; border-radius: .5rem; box-shadow: 0.3rem 0.3rem 1rem rgba(0, 0, 0, 0.28); }

.youthCouncil-des { flex: 1; padding-top: 5rem; padding-right: 11.5rem; }

.youthCouncil-des .button-blue { min-width: 45rem; }

.youthCouncil-des__box { flex-wrap: wrap; }

.youthCouncil-bottom > ul > li { display: flex; display: flex; padding: 5rem 10.7rem; }

.youthCouncil-bottom > ul > li + li { border-top: 1px dashed #dddddd; }

.youthCouncil-bottom > ul > li:nth-last-child(1) { padding-bottom: 0; }

.youthCouncil-bottom .list-dashed li { position: relative; padding-left: 1rem; font-size: 1.8rem; font-weight: 500; line-height: 3.2rem; }

.youthCouncil-bottom .list-dashed li::before { position: absolute; top: 1.5rem; left: 0; width: .4rem; height: 1px; background: #000000; content: ""; }

.youthCouncil-bottom .title { position: relative; width: 21.5rem; margin-left: 10.7rem; padding-left: 6rem; padding-right: 9.5rem; line-height: 3.6rem; letter-spacing: -.075rem; font-size: 2.4rem; font-weight: 600; flex: none; }

.youthCouncil-bottom .title::before { position: absolute; top: 1.6rem; left: 0; width: 4rem; height: 1px; background: #000000; content: ""; }

.youthCouncil-bottom .cont { flex: 1; }

.youthCouncil-bottom .cont p { display: flex; align-items: center; justify-content: center; min-height: 8rem; height: auto; text-align: center; border-radius: .3rem; font-size: 1.8rem; font-weight: 500; line-height: 3rem; border: 1px solid #005bac; box-sizing: border-box; }

.youthCouncil-bottom .cont p + p { margin-top: 1rem; }

.youthCouncil-bottom .cont div { font-size: 1.8rem; font-weight: 500; line-height: 3rem; }

.youthCouncil-bottom .cont.w-50 { display: flex; display: flex; flex-wrap: wrap; margin: -.5rem; }

.youthCouncil-bottom .cont.w-50 p { flex: none; width: calc(50% - 1rem); margin: .5rem; }

/*220609 pub */
.grayBox_sh { background-color: #ffff0000; padding: 0 0 0 0; }

.grayBox_sh img:nth-child(1) { margin-right: 1rem; }

.grayBox_sh .grayBox_img { display: flex; display: flex; justify-content: center; width: 100%; }

.grayBox_sh .info { position: relative; width: 100%; margin-left: 0; display: block; text-align: center; }

.grayBox_sh .info::before { position: absolute; left: 0; content: ""; z-index: -1; background-color: #f5f8f9; }

.grayBox_sh .info p { font-size: 2.2rem; line-height: 3.6rem; font-weight: 400; }

.grayBox_sh2 { background-color: #fff000; padding: 0 0 0 0; }

.grayBox_sh .grayBox_ul { margin: 0 auto; display: flex; justify-content: center; flex-wrap: wrap; }

.grayBox_sh .grayBox_ul img { margin: 0; }

.grayBox_sh .grayBox_ul li { box-sizing: border-box; text-align: center; }

.grayBox_sh .grayBox_ul li:nth-child(n+2) { margin-top: 1rem; }

.grayBox_sh .grayBox_ul li.list1 { width: 100%; }

.grayBox_sh .grayBox_ul li.list3 { margin-left: 1rem; margin-right: 1rem; }

.grayBox_sh .grayBox_ul li.list2, .grayBox_sh .grayBox_ul li.list4 { display: flex; display: flex; flex-direction: column; justify-content: space-between; }

.content_ci .grayBox_sh .info p { padding-top: 8rem; padding-bottom: 8rem; }

.content_ci .grayBox_sh .info::before { top: -11.4rem; width: 100%; height: calc(100% + 11.4rem); content: ""; z-index: -1; }

.content_ch .grayBox_sh .info { padding: 0; display: flex; display: flex; }

.content_ch .grayBox_sh .info::before { top: -38.5rem; width: 100%; height: calc(100% + 38.5rem); background-color: #f5f8f9; }

.content_ch .grayBox_sh .info p { padding: 5rem 0; margin: 0 auto; }

.content_ch p span { font-weight: 500; }

.content_ch p span.color-blue2 { color: #1e80c1; }

.content_ch p span.color-orange { color: #d75207; }

.content_ch p span.color-green { color: #1ec144; }

.content_ch p .bold { font-weight: 500; }

.content_map .grayBox_sh .info { display: flex; display: flex; justify-content: flex-start; text-align: center; }

.content_map .grayBox_sh .info::before { background-color: #fff; }

.content_map .grayBox_sh .info p { display: flex; display: flex; flex-wrap: wrap; }

.content_map .grayBox_sh .info img { padding: 3% 0; }

.content_map .grayBox_sh .info span { display: block; }

.content_map .grayBox_sh .info .bus1, .content_map .grayBox_sh .info .bus2 { display: flex; display: flex; }

.content_map .grayBox_sh .info .bus1 > p, .content_map .grayBox_sh .info .bus2 > p { padding-left: 1rem; }

.content_map .grayBox_sh .info .bus1 { margin-left: 12.4rem; }

.content_map .grayBox_sh .info .bus2 { margin-left: 3.6rem; }

.content_map .grayBox_sh .info .bus_default, .content_map .grayBox_sh .info .bus_stand { line-height: 3.4rem; text-align: center; width: 8.4rem; height: 3.4rem; letter-spacing: -0.25rem; color: #fff; border-radius: 0.3rem; font-size: 1.8rem; font-weight: 400; }

.content_map .grayBox_sh .info .bus_default { background-color: #1ec144; }

.content_map .grayBox_sh .info .bus_stand { background-color: #c52116; }

.content_map .grayBox_sh .grayBox_img img { display: block; width: 100%; }

.content_map .grayBox_sh .grayBox_img img:nth-child(1) { margin-right: 0; box-shadow: none; }

.content_map .grayBox_sh .grayBox_wrap .grayBoxd { background-color: #edeff3; padding: 2.2% 2.7%; align-items: center; display: flex; flex: 1; }

.content_map .grayBox_sh .grayBox_wrap .grayBoxd p { display: inline-block; font-size: 1.8rem; margin-left: 3.8rem; line-height: 2.8rem; letter-spacing: -0.25rem; font-weight: 400; }

.content_map .grayBox_sh .grayBox_wrap .grayBox_4 { width: calc(100%); padding: 1rem 0; background-color: #fff; }

.content_map .grayBox_sh .grayBox_wrap .grayBox_4 img { width: 4.2rem; height: 4.4rem; margin-left: 3%; padding: 2.4% 0; box-sizing: unset; }

.content_map .grayBox_sh .grayBox_wrap .grayBox_4 p { margin-left: 2%; }

.content_map .grayBox_sh .grayBox_wrap .grayBox_4 p span { display: block; font-size: 2rem; font-weight: 600; margin-bottom: 1rem; }

.content_map .grayBox_sh .grayBox_13 { display: flex; display: flex; width: 100%; }

.content_map .grayBox_sh .grayBox_13 p span { display: block; font-size: 2rem; font-weight: 600; margin-bottom: 1rem; }

.content_map .grayBox_sh .grayBox_13 .grayBox_1, .content_map .grayBox_sh .grayBox_13 .grayBox_3 { display: flex; display: flex; }

.content_map .grayBox_sh .grayBox_13 .grayBox_1 img, .content_map .grayBox_sh .grayBox_13 .grayBox_2 img, .content_map .grayBox_sh .grayBox_13 .grayBox_3 img { width: 4.2rem; height: 4.4rem; }

.content_map .grayBox_sh .grayBox_13 .grayBox_2 { margin: 0 0.1rem; }

.content_vision .vision-wrap img { display: block; margin: 0 auto; }

.content_vision .vision-wrap .vision_top { width: 100%; margin: 0 auto; }

.content_vision .vision-wrap .vision_top img { max-width: 100%; }

.content_vision .vision-wrap .vision_bottom { width: 100%; margin: 0 auto; padding-bottom: 8rem; display: flex; display: flex; justify-content: center; }

.content_vision .vision-wrap .vision_bottom .vision_left img { width: 10.3rem; height: 66rem; margin: 0 2rem; }

.content_vision .vision-wrap .vision_bottom .vision_right { width: 90%; }

.content_vision .vision-wrap .vision_bottom .vision_right img { padding-bottom: 2.4rem; width: 113.1rem; height: 66.1rem; padding-bottom: 2.4rem; }

.content .grayBox_sh .grayBox_img img { width: 100%; max-width: 100%; box-shadow: 0 0.2rem 1.3rem rgba(0, 0, 0, 0.5); }

.youthCouncil-top .img-wrap-sh { width: 47.5rem; flex: none; }

.youthCouncil-top .img-wrap-sh img { display: block; margin: 0 auto; border: 1px solid #ddd; border-radius: 12rem; box-shadow: 1rem 1rem 1.8rem rgba(0, 0, 0, 0.1); }

.youthCouncil_sh .youthCouncil-des { padding-right: 10.5rem; }

.youthCouncil_sh .youthCouncil-bottom .cont p { display: flex; display: flex; align-items: center; justify-content: flex-start; height: 8rem; text-align: left; border-radius: .3rem; font-size: 1.8rem; font-weight: 500; line-height: 3.2rem; border: none; }

/*===================================================================================================
===========================================  responsive ==========================================
==================================================================================================*/
@media screen and (max-width: 1400px) { .content_vision .vision-wrap { padding: 0 2.4rem 7rem 0; }
  .content_vision .vision-wrap img { display: block; margin: 0 auto; }
  .content_vision .vision-wrap .vision_bottom { justify-content: center; }
  .content_vision .vision-wrap .vision_bottom .vision_right { width: 90%; }
  .content_ci .grayBox_sh .grayBox_img img { width: 48%; }
  .content .grayBox { padding: 5rem 2.4rem; }
  .content .grayBox img { width: 55%; }
  .content .grayBox .info { width: calc(100% - 85rem); }
  .content .grayBox .info img { width: inherit; }
  .content .est .top { width: 100%; height: auto; padding: 0 0 50% 0; background-size: contain; background-position: bottom center; }
  .content .est .top .right { width: 100%; }
  .content .est .top img { position: absolute; top: 50%; transform: translateY(-50%); padding: 0 0 0 2rem; }
  .content .est .bottom { width: 100%; display: block; bottom: -12%; margin-left: 0; }
  .content .est .bottom ul { flex-flow: row wrap; }
  .content .est .bottom ul li { width: 33.33%; }
  .content .vision-wrap { box-sizing: border-box; } }

@media screen and (max-width: 1200px) { .content_vision .vision-wrap img { display: block; margin: 0 auto; }
  .content_vision .vision-wrap .vision_bottom { padding-bottom: 0; justify-content: space-around; }
  .content_vision .vision-wrap .vision_bottom .vision_right { width: 80%; overflow-x: scroll; }
  .content_vision .vision-wrap .vision_bottom .vision_right::-webkit-scrollbar { background: #eee; height: 0.8rem; border-radius: 10rem; }
  .content_vision .vision-wrap .vision_bottom .vision_right::-webkit-scrollbar-thumb { background: #aaa; border-radius: 10rem; }
  .content_vision .vision-wrap .vision_bottom .vision_right::-webkit-scrollbar-track { border-radius: 10rem; }
  .content .introTitle { word-break: keep-all; line-height: 5rem; }
  .content .introTitle span { display: block; }
  .content .grayBox img { width: 100%; }
  .content .grayBox .info { display: block; width: 100%; margin-top: 5rem; margin-left: 0; }
  .content .grayBox .info img { width: 10%; padding-left: 0.5rem; vertical-align: middle; }
  .grayBox_sh .grayBox_img { width: 100%; }
  .content_ci .grayBox_sh .info p { padding-top: 6rem; padding-bottom: 6rem; width: 90%; margin: 0 auto; }
  .content_ci .grayBox_sh .grayBox_img img { width: 48%; }
  .content_ci .grayBox_sh .grayBox_ul li img { width: 95%; object-fit: cover; }
  .content_ch .grayBox_sh .grayBox_img img { width: 100%; }
  .content_map .grayBox_sh .info { padding: 0; display: flex; display: flex; flex-wrap: wrap; }
  .content_map .grayBox_sh .info .bus1, .content_map .grayBox_sh .info .bus2 { margin-left: 1.4rem; }
  .content_map .grayBox_wrap .grayBox_13 .grayBox_1, .content_map .grayBox_wrap .grayBox_13 .grayBox_2, .content_map .grayBox_wrap .grayBox_13 .grayBox_3 { padding: 3.2% 2.7%; flex-direction: column; align-items: center; }
  .content_map .grayBox_wrap .grayBox_13 .grayBox_1 p, .content_map .grayBox_wrap .grayBox_13 .grayBox_2 p, .content_map .grayBox_wrap .grayBox_13 .grayBox_3 p { margin: 0; text-align: center; }
  .content_map .grayBox_wrap .grayBox_13 .grayBox_1 p span, .content_map .grayBox_wrap .grayBox_13 .grayBox_2 p span, .content_map .grayBox_wrap .grayBox_13 .grayBox_3 p span { margin-top: 2rem; }
  .content_map .grayBox_wrap .grayBox_13 .grayBox_4 { padding: 3% 0; } }

@media screen and (max-width: 1024px) { .content_vision .vision-wrap img { display: block; margin: 0 auto; }
  .content_vision .vision-wrap .vision_bottom { justify-content: space-around; }
  .content_vision .vision-wrap .vision_bottom .vision_right { width: 80%; }
  .content .est .top { top: calc(100% - 76rem); }
  .content .est .top .right { top: calc(100% - 76rem); }
  .content .est .bottom { margin-top: -11%; }
  .youthCouncil-top .img-wrap { width: 50%; }
  .youthCouncil-top .button-wrap button { min-width: unset; max-width: none; }
  .youthCouncil-top.sh .img-wrap { width: 50%; }
  .youthCouncil-bottom .title { margin-left: 0; } }

@media screen and (max-width: 720px) { .content .est .top .right { top: calc(100% - 77rem); }
  .content .est .bottom { bottom: -26%; margin-top: -7rem; }
  .youthCouncil-top .img-wrap { width: 20%; margin: 0 5%; }
  .youthCouncil-top .img-wrap img { width: 100%; }
  .youthCouncil-top .button-wrap button { min-width: unset; max-width: none; }
  .youthCouncil-top.sh .img-wrap { width: 20%; height: auto; margin: 0 5%; }
  .youthCouncil-top.sh .img-wrap img { width: 100%; height: auto; }
  .youthCouncil-bottom > ul > li { flex-direction: column; }
  .youthCouncil-bottom .title { width: 100%; margin-left: 0; padding-right: 0rem; padding-bottom: 3rem; }
  .youthCouncil-bottom .title br { display: none; }
  .youthCouncil-bottom .cont p { padding: 1rem; }
  .youthCouncil-bottom .cont.w-50 { width: 100%; }
  .youthCouncil-bottom .cont div br { display: none; }
  .youthCouncil-des { padding-right: 3rem; }
  .youthCouncil-des__box .button-wrap { width: 100%; }
  .youthCouncil-des__box p { margin-top: 1rem; }
  .grayBox_sh .grayBox_img { width: 78%; margin: 0 auto; justify-content: space-evenly; }
  .grayBox_sh .grayBox_img img { width: calc(100% / 2); height: 50%; object-fit: cover; box-sizing: border-box; flex: 1; }
  .grayBox_sh .grayBox_ul { margin: 0 auto; display: flex; display: flex; justify-content: center; flex-wrap: wrap; }
  .grayBox_sh .info p { width: 80%; margin: 0 auto; font-size: 1.7rem; line-height: 3.6rem; font-weight: 400; }
  .content_ci { width: 100%; overflow: hidden; }
  .content_ci .grayBox_sh .info p { padding-top: 5rem; padding-bottom: 5rem; }
  .content_ci .grayBox_sh .info::before { top: -20%; left: 50%; transform: translateX(-50%); }
  .content_ch .grayBox_sh .grayBox_ul li img { width: 95%; object-fit: cover; }
  .content_ch .grayBox_sh .grayBox_ul .list2, .content_ch .grayBox_sh .grayBox_ul .list3, .content_ch .grayBox_sh .grayBox_ul .list4 { flex: 1; }
  .content_ch .grayBox_sh .info::before { width: 100%; left: 50%; transform: translateX(-50%); top: -30.5rem; height: calc(100% + 30.5rem); background-color: #f5f8f9; }
  .content_map { padding-bottom: 7.8rem; margin: 0 auto; }
  .content_map .grayBox_sh .grayBox_img { width: 100%; margin: 0 auto; }
  .content_map .grayBox_sh .grayBoxwrap .grayBoxd p { text-align: center; display: block; font-size: 2rem; font-weight: 600; margin-bottom: 1rem; }
  .content_map .grayBox_sh .info { flex-wrap: wrap; }
  .content_map .grayBox_sh .info .bus1, .content_map .grayBox_sh .info .bus2 { width: 100%; margin: 0 auto; }
  .content_map .grayBox_sh .info .bus1 > p, .content_map .grayBox_sh .info .bus2 > p { padding-left: 1rem; padding-right: 1rem; }
  .content_map .grayBox_wrap .grayBox_1, .content_map .grayBox_wrap .grayBox_2, .content_map .grayBox_wrap .grayBox_3 { width: calc(100% / 4); flex-direction: column; }
  .content_map .grayBox_wrap .grayBox_4 { display: flex; display: flex; }
  .content_map .grayBox_wrap .grayBox_4 p { text-align: left; margin-left: 2rem; }
  .content_vision .vision-wrap .vision_bottom .vision_right { margin: 0; } }

@media screen and (max-width: 360px) { .content .est .bottom { margin-top: -6rem; }
  .content .est .bottom ul li:nth-child(4), .content .est .bottom ul li:nth-child(5), .content .est .bottom ul li:nth-child(6) { background-position: 90% 70%; }
  .grayBox_sh .info p { width: 51rem; margin: 0 auto; font-size: 1.8rem; line-height: 3.6rem; font-weight: 400; } }
