.pressData .button-more {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 14rem;
  height: 7rem;
  background: #ffffff;
  border: 1px solid #005aab;
  border-radius: 0.5rem;
  box-shadow: 1rem 1rem 2rem rgba(0, 0, 0, 0.18);
}
.pressData .button-more span {
  display: inline-block;
  width: 2.3rem;
  height: 1px;
  background: #000000;
}
.pressData .button-more span:nth-child(2) {
  position: absolute;
  transform: rotate(-90deg);
}
.pressData .con {
  font-size: 1.8rem;
}
.pressData__inner {
  position: relative;
}
.pressData__inner::before {
  position: absolute;
  left: 50%;
  top: 0;
  bottom: 0;
  width: 1px;
  background: url(../../image/sub/yearLine.png);
  background-repeat: repeat-y;
  content: "";
}
.pressData__inner .year {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 50%;
  top: 0;
  width: 12rem;
  height: 12rem;
  font-weight: 500;
  font-size: 3rem;
  color: #005aab;
  text-align: center;
  background: #e5eef6;
  border-radius: 100%;
  box-sizing: border-box;
  z-index: 1;
  line-height: 100%;
  transform: translateX(-50%);
}
.pressData__inner .year-wrap {
  position: relative;
  height: 12rem;
  margin-bottom: 2.7rem;
}
.pressData__inner .year-wrap:nth-child(n+2) {
  margin-top: 2rem;
}
.pressData__inner .year::before {
  position: absolute;
  width: calc(100% + 2rem);
  height: calc(100% + 2rem);
  border: 1px dashed #005aab;
  opacity: 0.28;
  border-radius: 100%;
  content: "";
}

.pressData__inner .yearLine {
  display: inline-block;
}
.pressData__inner .pressData-item {
  position: relative;
}
.pressData__inner .pressData-item.odd .left {
  text-align: right;
}
.pressData__inner .pressData-item.odd .right {
  padding-left: 3rem;
}
.pressData__inner .pressData-item.even .left {
  text-align: left;
  padding-left: 3rem;
  padding-right: 0;
}
.pressData__inner .pressData-item.even .right {
  padding-right: 3rem;
}
.pressData__inner .pressData-item.even .right::after {
  left: auto;
  right: -0.7rem;
}
.pressData__inner .pressData-item.even .itemBox {
  flex-direction: row-reverse;
}
.pressData__inner .pressData-item:last-child .itemBox {
  padding-bottom: 5rem;
}
.pressData__inner .itemBox {
  display: flex;
  display: flex;
  position: relative;
  padding: 3.1rem 0;
}
.pressData__inner .itemBox:after {
  display: block;
  content: "";
  clear: both;
}
.pressData__inner .date {
  display: block;
  position: absolute;
  top: -1.1rem;
  left: 2.6rem;
  font-size: 2.4rem;
  color: #005aab;
  font-weight: 700;
}
.pressData__inner .box {
  display: block;
  position: relative;
  padding: 4rem 3rem;
  border-bottom: none;
  box-sizing: border-box;
}
.pressData__inner .box::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100% + 1.7rem);
  background: #f6f6f6;
  content: "";
  z-index: -1;
}
.pressData__inner .title {
  display: block;
  font-size: 2rem;
  font-weight: 600;
  color: #000;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  line-height: normal;
}
.pressData__inner .con {
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 3.2rem;
  height: 9.6rem;
  word-wrap: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  height: 9rem;
  margin-top: 1.5rem;
  color: #555;
  line-height: 3rem;
  font-size: 1.8rem;
  font-weight: 500;
  color: #555;
}
.pressData__inner .listCon {
  margin-top: 2rem;
}
.pressData__inner .listCon li {
  font-size: 1.6rem;
  color: #747478;
  line-height: 3rem;
}
.pressData__inner .left {
  width: 50%;
  padding-right: 3.35rem;
  text-align: center;
  box-sizing: border-box;
}
.pressData__inner .left .img {
  display: inline-block;
  width: 37.6rem;
  height: 30.2rem;
  overflow: hidden;
}
.pressData__inner .left .img img {
  width: 100%;
  height: 100%;
}
.pressData__inner .right {
  position: relative;
  width: 50%;
  box-sizing: border-box;
}
.pressData__inner .right:after {
  display: block;
  content: "";
  position: absolute;
  top: -0.7rem;
  left: -0.7rem;
  width: 1.3rem;
  height: 1.3rem;
  background: #ffffff;
  border: 1px solid #005aab;
  box-shadow: 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.18);
  border-radius: 100%;
}
.pressData__inner .right .tit {
  display: block;
  margin-bottom: 5px;
  font-size: 20px;
  color: #000;
  line-height: 150%;
}
.pressData__inner .right .writer {
  font-family: "Nanum Gothic";
  font-size: 15px;
  color: #333;
}
.pressData__inner .right .btnReserve {
  display: inline-block;
  position: absolute;
  right: 30px;
  bottom: 30px;
  padding: 0 30px;
  height: 40px;
  line-height: 40px;
  font-size: 15px;
  color: #fff;
  font-weight: 700;
  background: #5032b6;
  border-radius: 20px;
}
.pressData__inner.ceoNews .right:hover .box {
  border-bottom: 2px solid #5032b6;
}
.pressData__inner.ceoNews .right .box {
  height: 317px;
  border-bottom: 1px solid #ddd;
}

.inquiry__inner {
  display: flex;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5rem 0;
  background: #ffeb00;
}
.inquiry__inner .button-wrap {
  width: 100%;
}
.inquiry__inner .button-wrap button {
  width: auto;
  margin-top: 1rem;
  padding: 0;
  background: transparent;
}

/*===================================================================================================
===========================================  responsive ==========================================
==================================================================================================*/
@media screen and (max-width: 1024px) {
  .forumBoardList .left .img {
    width: 100%;
    height: auto;
  }
}
@media screen and (max-width: 720px) {
  .pressData__inner .year {
    left: 0;
    width: auto;
    height: auto;
    padding-top: 1rem;
    padding-bottom: 2rem;
    background: #ffffff;
    transform: none;
    border-radius: 0;
    font-size: 5rem;
  }
  .pressData__inner .year::before {
    display: none;
  }
  .pressData__inner .year-wrap {
    height: 5rem;
  }
  .pressData__inner::before {
    left: 3rem;
  }
  .pressData__inner .title {
    line-height: normal;
  }
  .pressData__inner .itemBox {
    flex-direction: column;
    padding-left: 6rem;
  }
  .pressData__inner .left {
    width: 100%;
  }
  .pressData__inner .left .img {
    width: 100%;
    height: auto;
    padding: 0;
  }
  .pressData__inner .pressData-item .right {
    width: 100%;
  }
  .pressData__inner .pressData-item .right::after {
    top: 1.7rem;
    left: -3.8rem;
  }
  .pressData__inner .pressData-item.odd .left {
    padding-right: 0;
  }
  .pressData__inner .pressData-item.odd .right {
    padding-top: 3rem;
    padding-left: 0;
  }
  .pressData__inner .pressData-item.even .itemBox {
    flex-direction: column;
    padding-left: 6rem;
  }
  .pressData__inner .pressData-item.even .left {
    padding-left: 0;
  }
  .pressData__inner .pressData-item.even .right {
    padding-top: 3rem;
    padding-right: 0;
  }
  .pressData__inner .pressData-item.even .right::after {
    top: 1.7rem;
    left: -3.8rem;
    right: auto;
  }

  .inquiry__inner {
    padding: 5rem;
  }
  .inquiry__inner .img-wrap img {
    width: 100%;
  }
  .inquiry__inner button {
    width: 27.6rem;
  }
  .inquiry__inner button img {
    width: 100%;
  }
}